form {
    max-width: 50%;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: tan;

}

div#credits {
    float:right;
}

body {
    background-image: url("gradient-background.jpg");
}

div#nav {
    text-align: center;
    font-size: 20px;
}