form {
    max-width: 75%;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: #cfd2c3;
    margin: auto;
    padding: 10px;
}


body {
    background-image: url("gradient-background.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.center {
    text-align: center;
}

#margin {
    margin: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

#employeeForm {
    margin: auto;
    max-width: 35%;
}

#weatherForm {
    max-width: 35%;
}

#weatherResults {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

#loginForm {
    max-width: 35%;
    margin: auto;
    text-align: center;
}

.logoutButton {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: greenyellow;
    color:white;
    max-width: 15%;
    max-height: 10%;
    margin: auto;
    text-align: center;
}



.head {
    border: solid black 1px;
    padding: 5px;
    border-radius: 10px;
}


.body {
    border: solid black 1px;
    padding: 5px;
    border-radius: 10px;
}

#dataTable {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width: 75%;
}

.background {
    border: solid grey 2px;
    background-color: lightgray;
    border-radius: 5px;
}

.red {
    color:red;
}

.bold {
    font-weight: bold;
}

a:hover {
    background-color: yellow;
}