form {
    max-width: 75%;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: silver;
    margin: auto;
    padding: 10px;
    box-shadow: grey 2px 3px 4px;
}


body {
    background-image: url("gradient-background.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    text-align: center;
}

h2#center {
    text-align: center;
}

#margin {
    margin: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-inverse {
    text-align: center;
}

#employeeForm {
    margin: auto;
    max-width: 35%;
}

#weatherForm {
    max-width: 35%;
}